:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('https://static.vecteezy.com/system/resources/previews/000/113/975/large_2x/medical-free-vector-background-with-heart-monitor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#doctor-container {
  width: 700px;
  margin-left: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f4f7fb;
  text-align: center;
  font-family: sans-serif;
}

#doctor-container h2 {
  color: #2a2a2a;
}

#doctor-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
}

#doctor-container button {
  background-color: #007acc;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

#doctor-container button:hover {
  background-color: #005fa3;
}

#doctor-container ul {
  padding: 0;
  text-align: left;
}

#doctor-container li {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#list-header span,
[id^="list-row-"] span {
  display: inline-block;
  padding: 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#col-name {
  width: 150px;
}
#col-specialty {
  width: 150px;
}
#col-actions {
  flex: 1;
  display: flex;
  justify-content: end;
  gap: 4px;
}

#treatment-box {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 9rem;
  background: #f9f9f9;
  border-radius: 8px;
  max-width: 400px;
}
#treatment-box textarea {
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
}
#treatment-box button {
  background-color: #007acc;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  margin: 3px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
